.contenedorme{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin-top: 50px;
    height: 1400px;
  }
  .container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
  }
  .text-box {
    padding: 20px 30px;
    background-color: #fff;
    color: #374151;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .left-container{
    left: 0;
  }
  .right-container{
    left: 50%;
  }
  .container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    border: 1px solid #b6bcc6;
  }
  .right-container img{
    left: -20px;
  }
  .timeline::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #b6bcc6;
    top: 0;
    left: 50%;
    margin-left: 0px;
    z-index: -1;
  }

  .text-box h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 10px;
    color: #030712;
    letter-spacing: -0.035em;
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 10px;
  }
  .left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    right: -15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #b6bcc6;
  }
  .right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    left: -15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #b6bcc6;
  }

  .container:nth-child(1){
    animation-delay: 0s;
  }
  .container:nth-child(2){
    animation-delay: 1s;
  }
  .container:nth-child(3){
    animation-delay: 3s;
  }
  .container:nth-child(4){
    animation-delay: 4s;
  }
  .container:nth-child(5){
    animation-delay: 5s;
  }
  .container:nth-child(6){
    animation-delay: 6s;
  }
  .container:nth-child(7){
    animation-delay: 7s;
  }


  @media screen and (max-width: 1024px) {
    .timeline{
      width: 90%;
      margin: 50px auto;
    }
    .timeline::after{
      left: 31px;
      height: 1050px;
    }
    .container{
      min-width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-container{
      left: 0;
    }
    .left-container img, .right-container img{
      left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
      border-right: 15px solid #b6bcc6;
      border-left: 0;
      left: -15px;
    }
  }

  @media screen and (max-width: 640px){

    .contenedorme{
      min-width: 100%;
      min-height: 90%;
      left: 0%;
    }

    .timeline{
      min-width: 100%;
      margin: 50px auto;
    }
    .timeline::after{
      left: 31px;
      height: 1540px;
    }
    .container{
      min-width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-container{
      left: 0;
    }
    .left-container img, .right-container img{
      left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
      border-right: 15px solid #b6bcc6;
      border-left: 0;
      left: -15px;
    }
  }