---
import Footer from "../components/Footer";
import ResponsiveMenu from '../components/ResponsiveMenu'

const {title, description} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={description} />
		<title>{title}</title>
	</head>
	<body class="w-full m-0 p-0">
		<ResponsiveMenu client:only="react"/>
		<slot/>
		<Footer />
	</body>
</html>
